
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root {
    --main-red:#73221a;
    --gray: #8c8074;
    --tan:#f2e2c4;
    --cream:#fcfded;
    --head-font:"Yeseva One", serif;
    --body-font:"Poppins", sans-serif;
}


h1, h2, h3, h4 {
    font-family: var(--head-font);
}
span, a, p, label {
    font-family: var(--body-font);
}

/* -------------------- HOME PAGE --------------------- */

.home-logo {
    height: 200px;
 }
 .container_h2, .container_list {
  text-align: center;
  list-style: none;
 }
#slider-text-container {
  background: rgb(242,226,196);
  background: linear-gradient(0deg, rgba(242,226,196,1) 0%, rgba(255,255,255,1) 90%);
}
.container_list {
  padding-bottom: 20px;
  font-family: 'Yeseva One', cursive;
}
.container_list li {
  line-height: 25px;
}
 /* Newest Selection Styles */
  /* Hover over cells */
#home-selection {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  padding-top: 30px;
 }
 .cell {
  width: 33%;
  height: 350px;
  margin: 0 15px;
  overflow: hidden;
  border: 2px solid gray;
  border-radius: 8px;
  opacity: 1;
}
.cell img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  
}
 .caruosel_name {
  color: black;
  font-size: 1.2em;
  text-align: center;
  transition: .5s ease;
  backface-visibility: hidden;
 }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cell:hover img {
  opacity: 0.3;
}

.cell:hover .middle {
  opacity: 1;
}

.text {
  background-color: #73221A;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text_link {
  text-decoration: none;
  color: white;
}

.text_link:visited {
  color: white;
}

 #testContainer {
   position: relative;
   width: 100%;
   max-width: 350px;
   padding-top: 20px;
   margin: 0 auto;
 }
 
 #testContainer img {
   width: 100%;
   height: auto;
   opacity: 0.5;
 }
 
 #testContainer .btn {
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #73221A;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
   font-family: 'Poppins', sans-serif;
 }
 
 #testContainer .btn:hover {
   background-color: #401410;
 }
 #joinAuction {
   background-color: #f2e2c4;
   margin-top: 60px;
 }
 #auction-title {
    font-family: 'Yeseva One', cursive;
    text-align: center;
    color: #73221A;
    padding-top: 10px;
 }
 #auctionAnnouncement {
   text-align: center;
   font-family: 'Poppins', sans-serif;
   color: #8c8074;
   font-weight: bold;
   font-size: 1.5em;
 }
 #auctionCount {
   text-align: center;
   font-family: 'Poppins', sans-serif;
   color: #73221A;
   font-size: 3em;
 }
/* ABOUT PAGE */
#about{
  
  margin: 50px auto;
  /* margin: 12px; */
  /* text-align:center; */
  max-width: 1000px;
  margin-bottom: 100px;
  /* box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.93); */
  box-shadow: 0px 1px 6px 3px rgba(115,34,26,0.93);
  border-radius:20px;
  /* position:relative; */
  overflow:hidden;
}
#about > img{
  max-width:800px;
  display:block;
  margin: 0 auto;
  margin-top:20px;
  border-radius:10px;
  /* position:absolute; */
  /* top: -50px; */
}
#about > p::first-letter{
  color:var(--main-red);
  font-size:2.6em;
  margin-right:5px;
  float:left;
  line-height:1;
}
.about__item{
  display:flex;
}
.sub-img1{
  margin-left: 20px;
}
.sub-img2{
  margin-right:20px;
  margin-bottom:10px;
}
.sub-img1 img, .sub-img2 img{
  border-radius:10px;
}
#about h1{
  text-align:center;
  margin: 32px;
} 
#about h1:after {
  content:"";
  display:block;
  width: 60px;
  border-bottom: 1px solid #bcbcbc;
  margin: 20px auto;
}
#about h2{
  text-align:center;
  margin: 32px;
}
#about p{
  margin: 32px;
  margin-bottom: 60px;
}
#about > p:nth-of-type(1){
  color: #304751;
  font-weight: bold;
}


/* -------------- INVENTORY PAGE ---------------- */
/* header img {
    width: 200px;
}

header {
    display: inline;
} */

#inv-page {
    margin: auto;
    /* width: 95%; */
}
.inv-hero {
    height: 20em;
    text-align: center;
    margin-bottom: 3em;
    padding: 2em;
    background-color: var(--main-red);
    color: var(--cream);
    background:linear-gradient(0deg, #73211ab3, #73211ab3), url(/images/1967-cadillac-white.jpg) center no-repeat;
    background-size: cover;
}
.inv-hero h1{
    font-size: 3.5em;
}
.inv-item {
    margin: .5em;
}

.inv-image {
    max-width: 100%;
}

/* ---------------------- Auction Page -------------------- */



#auction-content {
  width: 425px;
  margin: 100px auto;
}

#auction-content form {
  background-color: #D3D3D3;
  border-radius: 5pt;
  border: 1px solid black;
  position: relative;
  padding-bottom: 50px;
  margin: 0 auto;
}

#auction-content h1 {
  margin: 16px 16px;
  text-align: center;
}

#auction-content p {
  margin: 16px 16px;
}

#auction-content form label, input {
  display: block;
  margin: 5px 126px;
}

#auction-submit {
  position: absolute; 
  right: 0;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5pt;
  font-size: 1em;
}

#auction-submit:hover {
  background-color: #73221A;
  color:#D3D3D3
}

.auction-img {
 display: none;
}

.auction-img img {
  display: none;
}

#inv-page input {
    padding: .5em;
    border: 2px solid var(--cream);
    border-radius: 4px;
}

/* ---------------------- Media Queries -------------------- */


@media screen and (min-width: 550px) {
       #slider--text {
          height: 100px;
       }

    .inv-body {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .inv-hero, .top-search {
        grid-column: 1/3;
    }

    .inventory-grid {
        width: 100%;
        height: 85%;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    #auction-content {
      width: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      justify-items: center;
    }

    #auction-content form label, input {
      display: block;
      font-size: 1.25em;
      margin: 5px 0 10px 15px;
    }

    #auction-content form input {
      display: block;
      width: 250px;
      margin: 5px 0 15px 15px;
    }

    .auction-img {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .auction-img img {
      display: block;
      border-radius: 5pt;
      width: 300px;
    }

    .auction-col1 {
      grid-column: 1/2;
      grid-row: 1;
    }

    #auction-content form
    {
      grid-column: 2/3;
      grid-row: 1/4;
      width: 415px;
    }

    #auction-content form #auction-submit {
      right: 10px;
      font-size: 1.5em;
      padding: 5px 10px;
      margin: 0;
      width: 125px;
    }
    
    .auction-col2 {
      grid-column: 3/4;
    }

    .auction-row1 {
      grid-row: 1/2;
      margin-right: 10px;
    }
    
    .auction-row2 {
      grid-row: 2/3;
      margin-left: 10px;
    }
    
    .auction-row3 {
      grid-row: 3/4;
      margin-right: 10px;
    }
}

*{
  box-sizing: border-box;
}

header{
  position: fixed;
  font-family: var(--head-font);
  /* position: relative; */
  width:100%;
  display: flex;
  justify-content:space-between;
  transition: all 0.35s ease-in;
  align-items:center;
  z-index: 1;
}
header.navbar--dark{
  /* position:fixed; */
  background-color: #f2e2c4d2;
  /* opacity: 0.8; */
  padding: 4px;
}
.logo{
  /* overflow:hidden; */
  /* height: 102px; */
}
.logo img{
  width: 90px;
  margin-top: 12px;
  margin-left: 20px;
}
.navbar__menu{
  display:flex;
  list-style:none;
  margin-right: 20px;
}
.navbar__menu__item{
  padding: 8px 12px;
  margin: 0 4px;
  cursor:pointer;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--main-red);
  border-radius:4px;
  transition: 0.35s;
  /* font-weight: 500; */
  font-size: 18px;
}
.navbar__menu__item:hover{
  border-color:white;
  background:var(--main-red);
  color:white;
}
.navbar__toggle-btn{
  position: absolute;
  right: 32px;
  top: 24px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  display:none;
}
main{
  padding-top: 100px;
}

footer{
  margin: 32px;
}
#footer{
  display: flex;
  
  justify-content: space-between;
  border-bottom: 1px solid #D3D3D3;
}
.footer__item{
  display:flex;
  flex-direction: column;
}
.footer__item p{
  margin-top: 0;
  font-weight:600;
}
.footer__item a{
  margin-bottom: 16px;
  text-decoration :none;
  color: black;
}
#store_hours{
  padding: 12px;
  width: 260px;
}
.rights{
  margin-top: 50px;
}

@media screen and (max-width: 768px){
  header{
    flex-direction:column;
    align-items: flex-start;
    background-color: #f2e2c4d2;
  }
  .navbar__toggle-btn{
    display: block;
  }
  .navbar__menu{
  flex-direction: column;
  text-align:center;
  width: 100%;
  display:none;
  }
  .navbar__menu.open{
    
    display:flex;

  }
  #footer{
    display:none;
  }

  /* about page */
  #about{
    /* box-shadow: none; */
    margin: 10px;
  }
  #about > img{
    width:90%;
  }
  .sub-img1, .sub-img2{
    display:none;
  }
}
