@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

:root {
    --main-red:#73221a;
    --gray: #8c8074;
    --tan:#f2e2c4;
    --cream:#fcfded;
    --head-font:"Yeseva One", serif;
    --body-font:"Poppins", sans-serif;
}

h1, h2, h3, h4 {
    font-family: var(--head-font);
}
span, a, p, label {
    font-family: var(--body-font);
}

/* INVENTORY PAGE */
header img {
    width: 200px;
}

header {
    display: inline;
}

#inv-page {
    margin: auto;
    width: 95%;
}
.inv-hero {
    height: 20em;
    text-align: center;
    margin-bottom: 3em;
    background-color: var(--main-red);
    color: var(--cream);
}
.inv-item {
    margin: .5em;
}

.inv-image {
    max-width: 100%;
}

@media screen and (min-width: 550px) {
    .inv-body {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .inv-hero, .top-search {
        grid-column: 1/3;
    }

    .inventory-grid {
        width: 100%;
        height: 85%;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }
}